/*Área de reset da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Área de configuração da fonte dos textos para toda a página*/
body, input, textarea {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/*Área de estilo do cabeçalho header*/
header {
    padding: 16px 0;
    background-color: #390089;
}
/*Colocar os  links lado  a lado*/
header nav li {
display: inline;
margin-left: 16px;
font-size: 18px;

}
/*Área de formatação do link a*/
header nav li a {
    display: inline;
    margin-left: 16px;
    color: #f0f0f0;
    text-decoration: none;
    }
/*Área de configuração do bloco titulo e subtítulo*/
/*Estão dentro de uma div para ficarem um abaixo do outro*/
.titulo {
    padding: 16px;
}
/*Área de formatação do título h1*/
header h1,
section h2,
section h3,
form button {
    font-family: "Kanit", sans-serif;
}

header h1{
    color: #f0f0f0;
    letter-spacing: 1em;
}

header h2 {
     font-size: 0.78em;
     color: #f0f0f0;
     display: block;
}

/*Área de configuração do alinhamento dos itens no cabeçalho*/
header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*####################################*/
/*###### Área da página ##############*/

/*Área de estilo do Container*/
.container {
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
}

/*Área de configuração da section válido para todas as seções*/
section {
    padding: 24px 0;
}

/*Área de configuração do section*/
section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #390089;
}
/*Configuração do parágrafo dentro de section*/
section p {
    padding: 8px;
    margin-bottom: 8px;
    text-align: justify;
    font-size: 1.2em;
}

/*Configuração da foto do perfil*/
.perfil_foto {
    margin-right: 32px;
    height: 500px;
}

.servicos h1{
    margin-bottom: 16px;
}

#secao-jovem {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 15px;
}
#secao-jovem img {
    max-width: 100%;
}

.descricao h2,
.descricao p {
    padding: 8px;
}

/*Área de configuração da fonte do google*/
.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#segunda-secao .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #390089;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #822ef9;
}

input:focus textarea:focus {
    outline-color: #390089;
}

footer {
    background-color: #390089;
    color: #f0f0f0;
    padding: 16px 0;
}